.arrow-back {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('../icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}